* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif;
  color: #2d3945;
}


.flex {
  display: flex;
}

.body-wrapper {
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 100%;
  background-color: #2d3945;
  padding: 20px 0;
}

.banner {
  margin: auto;
  font-size: 1.35em;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
}

.intro-section {
  border-bottom: solid 3px #2d3945;
  margin-bottom: 2px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 768px;
}

h2 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 10px;
}

.intro-section > p {
  font-size: .95em;
  color: rgba(0,0,0,.4);
  margin-top: 10px;
}

p,
#newsletter-type-form > label {
  font-size: .95em;
  opacity: .8;
}

.newsletter-section {
  border-top: solid 2px #2d3945;
  width: 100%;
  max-width: 768px;
  margin-top: 20px;
  padding-top: 15px;
}

.newsletter-section > h2 {
  margin-top: 10px;
}

.newsletter-section p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-wrapper {
  width: 100%;
  max-width: 768px;
  border-top: solid 2px #2d3945;
  flex-direction: column;
  padding-top: 25px;
}

#personal-info-form label {
  width: 100%;
  flex-direction: column;
}

#personal-info-form {
  flex-wrap: wrap;
}

#personal-info-form > label > input,
#personal-info-form > label > select {
  background-color: rgba(0,0,0,.1);
  box-shadow: 0 2px 8px rgba(0,0,0,.3) inset;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  border-radius: 2px;
  width: 100%;
}

#personal-info-form > label > input:focus,
#personal-info-form > label > select:focus,
.textarea:focus {
  box-shadow: 0 0px 8px #4ebbb5 inset;
}

#personal-info-form > label > span {
  padding-bottom: 6px;
  margin-top: 12px;
  opacity: .8;
}

#personal-info-form label select {
  color: rgba(0,0,0,.4);
}

#personal-info-form input[id="zip"] {
  width: 50%;
}

#personal-info-form label input::placeholder {
  text-align: right;
  color: rgba(0,0,0,.5);
}

#newsletter-type-form > label:hover,
.signup-btn:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0c8";
  font-weight: normal;
  font-size: 1.2em;
  margin-right: 5px;
}

input[type="checkbox"]:checked + label::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f14a";
  font-weight: bold;
  color: #4ebbb5;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f111";
  font-weight: normal;
  font-size: 1.2em;
  margin-right: 5px;
}

input[type="radio"]:checked + label::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f192";
  font-weight: bold;
  color: #4ebbb5;
}

.input-title {
  display: block;
}

.textarea {
  width: 100%;
  border: 0;
  background-color: rgba(0,0,0,.1);
  box-shadow: 0 2px 6px rgba(0,0,0,.3) inset;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 30px;
}

.signup-btn {
  font-size: 1.4em;
  color: white;
  background-color: #4ebbb5;
  border: 0;
  border-radius: 2px;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 40px;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,.5);
}

.signup-btn:hover {
  background-color: #49ada8;
  transition: .15s;
}

footer > p {
  color: rgba(0,0,0,.3);
  font-style: italic;
  font-size: .9em;
  margin-bottom: 200px;
}

@media (min-width:768px) {
  #personal-info-form label {
    flex-direction: row;
    margin-bottom: 20px;
  }

  #personal-info-form {
    flex-direction: column;
    margin-top: 20px;
  }

  #personal-info-form > label > input,
  #personal-info-form > label > select {
    width: 80%;
  }

  .input-title {
    width: 20%;
  }

}
